<div class="container">
  <h1 class="mb-4">User Details</h1>

  <dl class="user-detail">
      <div class="detail-row">
          <dt>User ID:</dt>
          <dd>{{ user.userId }}</dd>
      </div>

      <div class="detail-row">
          <dt>Username:</dt>
          <dd>{{ user.userName }}</dd>
      </div>

      <div class="detail-row">
          <dt>Email:</dt>
          <dd>{{ user.email }}</dd>
      </div>

      <div class="detail-row">
          <dt>First Name:</dt>
          <dd>{{ user.firstName }}</dd>
      </div>

      <div class="detail-row">
          <dt>Last Name:</dt>
          <dd>{{ user.lastName }}</dd>
      </div>

      <div class="detail-row">
          <dt>Role:</dt>
          <dd>{{ user.role }}</dd>
      </div>
  </dl>
</div>
